.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.git/**
node_modules/**
out/**
images/*.psd
*.vsix
.eslintignore
.prettierrc
.prettierignore 
.grouped-timeline-test-proj